extends ../layouts/main

block content
    h1 Profile
    pre.userList(hidden)= users
    .profile.row
        -var link = user.avatar.split('\\').join('/')
        .avatar-container.col-sm-7.col-lg-4
            .avatar-outline
                .avatar-container-image(style='background-image: url(' + link + ')')
        
        .info.col-sm-12.col-lg-8
            h2.info-heading Information
            .edit-profile-btn.btn.btn-link.float-right Edit Profile
            br
            .info-content
                .info-name.info-sub-content
                    span.text Name: 
                    span.name= user.name
                .info-username.info-sub-content
                    span.text Username: 
                    span.username= user.username
                .info-email.info-sub-content
                    span.text Email: 
                    span.email= user.email
                .info-password.info-sub-content
                    span.text Password: 
                    span.password ********
                .info-my-videos.info-sub-content
                    - var myVideoCount = user.myVideos.length > 0 ? user.myVideos.length : '-empty-'
                    span.text My Videos (
                    span= myVideoCount
                    span.text ): 
                    if user.myVideos.length > 0
                        ul.info-my-videos-list
                            each video in user.myVideos
                                li.info-list-item= video.title
                    else
                        a(href="/") - Add video
    
    script(src="/js/user-profile.js")
            


            

        
        